@font-face {
  font-family: 'SuperBrigade';
  src: url('./fonts/SuperBrigade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sddystopian';
  src: url('./fonts/Sddystopian.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}